:root{
  --color-primary: #eb2f64;
  --color-PrimaryLight: #FF3366;
  --color-PrimaryDark: #BA265D;

  --color-GreyLight1: #faf9f9;
  --color-GreyLight2: #f4f2f2;
  --color-GreyLight3: #f0eeee;
  --color-GreyLight4: #ccc;

  --color-GreyDark1: #333;
  --color-GreyDark2: #777;
  --color-GreyDark3: #999;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-GreyDark2);
  background-image: linear-gradient(to right bottom, var(--color-PrimaryLight), var(--color-PrimaryDark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
